
<h2 ng-model="currUser">Welcome <span class="makeOrange"> {{currUser.name}}!</span></h2>
<a class="btn btn-primary" href='/logout'>logout</a>
<div class="mainDash" ng-controller="appointmentController">
  <h1>Doctor's Appointments</h1>
  <p><input type='text' ng-model='filter_name' placeholder="search by name..."</p>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient Name</th>
        <th>Complaint</th>
      </tr>
    </thead>
      <tr ng-repeat="appointment in appointments | orderBy: 'created_at' | filter: filter_name" ng-if='isPast(appointment)'>
        <td ng-bind ='appointment.date | date:"longDate"'></td>
        <td ng-bind='appointment.time | date: "shortTime"'></td>
        <td ng-bind='appointment.patient_name'></td>
        <td> {{appointment.complaint}}<a class='btn btn-warning pull-right' ng-if='appointment.patient_name == currUser.name' ng-click="remove(appointment)">Cancel</td>
      </tr>
  </table>
  <a class="btn btn-primary" href="#/appointment/new">Add New Appointment</a>
</div>
